<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>appearance_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,94}</string>
                <key>spriteSourceSize</key>
                <string>{103,94}</string>
                <key>textureRect</key>
                <string>{{774,121},{103,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appearance_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,118}</string>
                <key>spriteSourceSize</key>
                <string>{167,118}</string>
                <key>textureRect</key>
                <string>{{774,1},{167,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>appearance_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,183}</string>
                <key>spriteSourceSize</key>
                <string>{200,183}</string>
                <key>textureRect</key>
                <string>{{463,270},{200,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appearance_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,203}</string>
                <key>spriteSourceSize</key>
                <string>{220,203}</string>
                <key>textureRect</key>
                <string>{{258,270},{220,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appearance_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,263}</string>
                <key>spriteSourceSize</key>
                <string>{267,263}</string>
                <key>textureRect</key>
                <string>{{256,1},{267,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appearance_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,253}</string>
                <key>spriteSourceSize</key>
                <string>{271,253}</string>
                <key>textureRect</key>
                <string>{{1,1},{271,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appearance_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{229,255}</string>
                <key>spriteSourceSize</key>
                <string>{245,255}</string>
                <key>textureRect</key>
                <string>{{1,274},{229,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appearance_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,240}</string>
                <key>spriteSourceSize</key>
                <string>{248,240}</string>
                <key>textureRect</key>
                <string>{{648,265},{248,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>appearance_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,251}</string>
                <key>spriteSourceSize</key>
                <string>{262,251}</string>
                <key>textureRect</key>
                <string>{{521,1},{262,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Appearance.png</string>
            <key>size</key>
            <string>{942,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06f480ca7af21c342ebfb409f818ead1:19e951a9cbb0649755d0c240d3fc01ca:98ef6ab7a29306f542f135698fd614e4$</string>
            <key>textureFileName</key>
            <string>Appearance.png</string>
        </dict>
    </dict>
</plist>
