<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Explosion_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,59}</string>
                <key>spriteSourceSize</key>
                <string>{65,59}</string>
                <key>textureRect</key>
                <string>{{356,1},{65,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,61}</string>
                <key>textureRect</key>
                <string>{{74,1},{71,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,61}</string>
                <key>textureRect</key>
                <string>{{147,1},{71,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{69,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,61}</string>
                <key>textureRect</key>
                <string>{{220,1},{69,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{63,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,61}</string>
                <key>textureRect</key>
                <string>{{291,1},{63,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{57,31}</string>
                <key>spriteSourceSize</key>
                <string>{71,61}</string>
                <key>textureRect</key>
                <string>{{423,1},{57,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ExplosionStone.png</string>
            <key>size</key>
            <string>{455,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cfea04c91ba2c3406604f296ba4e4ab:655d7d5317eab3cdee34d02d4eb95786:a63a71aa6cd4b373df050eb665284fef$</string>
            <key>textureFileName</key>
            <string>ExplosionStone.png</string>
        </dict>
    </dict>
</plist>
