<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CheckPoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,238}</string>
                <key>spriteSourceSize</key>
                <string>{194,238}</string>
                <key>textureRect</key>
                <string>{{2846,515},{194,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CheckPointLocate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{2512,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{5,8}</string>
                <key>spriteSize</key>
                <string>{413,515}</string>
                <key>spriteSourceSize</key>
                <string>{459,587}</string>
                <key>textureRect</key>
                <string>{{2709,745},{413,515}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Left11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{5,8}</string>
                <key>spriteSize</key>
                <string>{413,515}</string>
                <key>spriteSourceSize</key>
                <string>{459,587}</string>
                <key>textureRect</key>
                <string>{{1,903},{413,515}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{413,515}</string>
                <key>spriteSourceSize</key>
                <string>{459,587}</string>
                <key>textureRect</key>
                <string>{{518,903},{413,515}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Right11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{413,515}</string>
                <key>spriteSourceSize</key>
                <string>{459,587}</string>
                <key>textureRect</key>
                <string>{{1035,903},{413,515}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Time_Saving-512.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{2709,1262},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureChest (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.468421,0.590062}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,161}</string>
                <key>spriteSourceSize</key>
                <string>{190,161}</string>
                <key>textureRect</key>
                <string>{{1221,1616},{190,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureChest (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.49537,0.504717}</string>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{194,196}</string>
                <key>spriteSourceSize</key>
                <string>{216,212}</string>
                <key>textureRect</key>
                <string>{{1213,1420},{194,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureChest (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.456693,0.497872}</string>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{192,201}</string>
                <key>spriteSourceSize</key>
                <string>{254,235}</string>
                <key>textureRect</key>
                <string>{{1018,1633},{192,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureChest (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.455696,0.477366}</string>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{193,211}</string>
                <key>spriteSourceSize</key>
                <string>{237,243}</string>
                <key>textureRect</key>
                <string>{{1018,1420},{193,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureChest (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.462451,0.444015}</string>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{195,215}</string>
                <key>spriteSourceSize</key>
                <string>{253,259}</string>
                <key>textureRect</key>
                <string>{{3026,231},{195,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TreasureChest (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481343,0.437008}</string>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{194,228}</string>
                <key>spriteSourceSize</key>
                <string>{268,254}</string>
                <key>textureRect</key>
                <string>{{3026,1},{194,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Untitled-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,102}</string>
                <key>spriteSourceSize</key>
                <string>{332,102}</string>
                <key>textureRect</key>
                <string>{{2512,515},{332,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Untitled-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,124}</string>
                <key>spriteSourceSize</key>
                <string>{329,124}</string>
                <key>textureRect</key>
                <string>{{2512,619},{329,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canva-arrow-icon-direction-button-pointer--MAB_Of-JV5A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{798,597}</string>
                <key>spriteSourceSize</key>
                <string>{802,597}</string>
                <key>textureRect</key>
                <string>{{1913,1},{798,597}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chicken-512.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,442}</string>
                <key>spriteSourceSize</key>
                <string>{512,442}</string>
                <key>textureRect</key>
                <string>{{1450,903},{512,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle-green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1318},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{15,-20}</string>
                <key>spriteSize</key>
                <string>{450,458}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1450,1417},{450,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-23,-4}</string>
                <key>spriteSize</key>
                <string>{794,662}</string>
                <key>spriteSourceSize</key>
                <string>{1004,732}</string>
                <key>textureRect</key>
                <string>{{1913,801},{794,662}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icons8-cancel-64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{3026,448},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icons8-circle-64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{3086,510},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inside-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,303}</string>
                <key>spriteSourceSize</key>
                <string>{303,303}</string>
                <key>textureRect</key>
                <string>{{2323,1465},{303,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kisspng-corn-on-the-cob-maize-food-icon-corn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{398,419}</string>
                <key>spriteSourceSize</key>
                <string>{404,419}</string>
                <key>textureRect</key>
                <string>{{1902,1465},{398,419}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>redbird.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,501}</string>
                <key>spriteSourceSize</key>
                <string>{512,501}</string>
                <key>textureRect</key>
                <string>{{515,1318},{512,501}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slingshot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,1910}</string>
                <key>spriteSourceSize</key>
                <string>{900,1910}</string>
                <key>textureRect</key>
                <string>{{1,1},{900,1910}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>preimage.png</string>
            <key>size</key>
            <string>{3222,1876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:901014c4e42b92e078ce94cded05193c:58386d702df4efbc387996a3f829b56a:5148e80b0cf90ae497db702da76187ee$</string>
            <key>textureFileName</key>
            <string>preimage.png</string>
        </dict>
    </dict>
</plist>
