<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1003,396}</string>
                <key>spriteSourceSize</key>
                <string>{1003,396}</string>
                <key>textureRect</key>
                <string>{{2190,10},{1003,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,57}</string>
                <key>spriteSourceSize</key>
                <string>{457,57}</string>
                <key>textureRect</key>
                <string>{{3213,716},{457,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Attack (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.511967,0.318912}</string>
                <key>spriteOffset</key>
                <string>{43,-133}</string>
                <key>spriteSize</key>
                <string>{725,535}</string>
                <key>spriteSourceSize</key>
                <string>{961,809}</string>
                <key>textureRect</key>
                <string>{{763,1884},{725,535}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Die (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.391615,0.558824}</string>
                <key>spriteOffset</key>
                <string>{46,-13}</string>
                <key>spriteSize</key>
                <string>{741,392}</string>
                <key>spriteSourceSize</key>
                <string>{1121,612}</string>
                <key>textureRect</key>
                <string>{{1602,1146},{741,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Boss_Hurt (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.518519,0.52994}</string>
                <key>spriteOffset</key>
                <string>{-77,30}</string>
                <key>spriteSize</key>
                <string>{619,560}</string>
                <key>spriteSourceSize</key>
                <string>{783,668}</string>
                <key>textureRect</key>
                <string>{{2002,2363},{619,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Hurt (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.518519,0.52994}</string>
                <key>spriteOffset</key>
                <string>{-79,30}</string>
                <key>spriteSize</key>
                <string>{617,560}</string>
                <key>spriteSourceSize</key>
                <string>{783,668}</string>
                <key>textureRect</key>
                <string>{{2000,2943},{617,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Idle (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481879,0.491166}</string>
                <key>spriteOffset</key>
                <string>{5,4}</string>
                <key>spriteSize</key>
                <string>{705,538}</string>
                <key>spriteSourceSize</key>
                <string>{745,566}</string>
                <key>textureRect</key>
                <string>{{751,2439},{705,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Idle (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481879,0.491166}</string>
                <key>spriteOffset</key>
                <string>{5,4}</string>
                <key>spriteSize</key>
                <string>{705,538}</string>
                <key>spriteSourceSize</key>
                <string>{745,566}</string>
                <key>textureRect</key>
                <string>{{749,2997},{705,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Idle (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481879,0.491166}</string>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{719,538}</string>
                <key>spriteSourceSize</key>
                <string>{745,566}</string>
                <key>textureRect</key>
                <string>{{10,2786},{719,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Idle (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481879,0.491166}</string>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{733,538}</string>
                <key>spriteSourceSize</key>
                <string>{745,566}</string>
                <key>textureRect</key>
                <string>{{10,1670},{733,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Idle (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481879,0.491166}</string>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{721,538}</string>
                <key>spriteSourceSize</key>
                <string>{745,566}</string>
                <key>textureRect</key>
                <string>{{10,2228},{721,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Jump (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{18,20}</string>
                <key>spriteSize</key>
                <string>{775,542}</string>
                <key>spriteSourceSize</key>
                <string>{841,684}</string>
                <key>textureRect</key>
                <string>{{2014,1801},{775,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Run (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{16,49}</string>
                <key>spriteSize</key>
                <string>{829,520}</string>
                <key>spriteSourceSize</key>
                <string>{863,634}</string>
                <key>textureRect</key>
                <string>{{10,572},{829,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Run (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{64,47}</string>
                <key>spriteSize</key>
                <string>{549,530}</string>
                <key>spriteSourceSize</key>
                <string>{863,634}</string>
                <key>textureRect</key>
                <string>{{3499,2510},{549,530}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Boss_Run (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{63,47}</string>
                <key>spriteSize</key>
                <string>{549,530}</string>
                <key>spriteSourceSize</key>
                <string>{863,634}</string>
                <key>textureRect</key>
                <string>{{2637,3089},{549,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Walk (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.503778,0.511864}</string>
                <key>spriteOffset</key>
                <string>{7,16}</string>
                <key>spriteSize</key>
                <string>{776,538}</string>
                <key>spriteSourceSize</key>
                <string>{794,590}</string>
                <key>textureRect</key>
                <string>{{10,1112},{776,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CheckPointLocate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{3524,3079},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chest_2 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,320}</string>
                <key>spriteSourceSize</key>
                <string>{342,320}</string>
                <key>textureRect</key>
                <string>{{390,3539},{342,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chest_2 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,334}</string>
                <key>spriteSourceSize</key>
                <string>{342,334}</string>
                <key>textureRect</key>
                <string>{{1105,3555},{342,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,256}</string>
                <key>spriteSourceSize</key>
                <string>{92,256}</string>
                <key>textureRect</key>
                <string>{{2070,464},{92,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{3915,1328},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,256}</string>
                <key>spriteSourceSize</key>
                <string>{152,256}</string>
                <key>textureRect</key>
                <string>{{3917,1774},{152,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,256}</string>
                <key>spriteSourceSize</key>
                <string>{176,256}</string>
                <key>textureRect</key>
                <string>{{1105,3909},{176,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Coin (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{2809,1801},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{2809,2077},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,256}</string>
                <key>spriteSourceSize</key>
                <string>{152,256}</string>
                <key>textureRect</key>
                <string>{{3917,2050},{152,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crystal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,78}</string>
                <key>spriteSourceSize</key>
                <string>{97,78}</string>
                <key>textureRect</key>
                <string>{{1841,3989},{97,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemy1_Attack (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-219,-37}</string>
                <key>spriteSize</key>
                <string>{866,920}</string>
                <key>spriteSourceSize</key>
                <string>{1356,1200}</string>
                <key>textureRect</key>
                <string>{{3029,842},{866,920}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy1_Attack (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-25,-22}</string>
                <key>spriteSize</key>
                <string>{662,950}</string>
                <key>spriteSourceSize</key>
                <string>{1356,1200}</string>
                <key>textureRect</key>
                <string>{{1100,464},{662,950}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemy1_Attack (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{114,-159}</string>
                <key>spriteSize</key>
                <string>{870,686}</string>
                <key>spriteSourceSize</key>
                <string>{1356,1200}</string>
                <key>textureRect</key>
                <string>{{3213,10},{870,686}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy1_Dead (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-70,-236}</string>
                <key>spriteSize</key>
                <string>{1070,542}</string>
                <key>spriteSourceSize</key>
                <string>{1356,1200}</string>
                <key>textureRect</key>
                <string>{{10,10},{1070,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy1_Dead (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-70,-290}</string>
                <key>spriteSize</key>
                <string>{1070,434}</string>
                <key>spriteSourceSize</key>
                <string>{1356,1200}</string>
                <key>textureRect</key>
                <string>{{1100,10},{1070,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy1_Idle (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-64,-142}</string>
                <key>spriteSize</key>
                <string>{868,708}</string>
                <key>spriteSourceSize</key>
                <string>{1356,1200}</string>
                <key>textureRect</key>
                <string>{{3029,1782},{868,708}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy1_Walk (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-65,-148}</string>
                <key>spriteSize</key>
                <string>{776,718}</string>
                <key>spriteSourceSize</key>
                <string>{1356,1200}</string>
                <key>textureRect</key>
                <string>{{806,1146},{776,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy2_Dead (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-21,15}</string>
                <key>spriteSize</key>
                <string>{352,474}</string>
                <key>spriteSourceSize</key>
                <string>{400,504}</string>
                <key>textureRect</key>
                <string>{{1508,2285},{352,474}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemy2_Dead (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{358,486}</string>
                <key>spriteSourceSize</key>
                <string>{400,504}</string>
                <key>textureRect</key>
                <string>{{1508,1907},{358,486}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemy3_Dead (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{15,16}</string>
                <key>spriteSize</key>
                <string>{546,254}</string>
                <key>spriteSourceSize</key>
                <string>{576,374}</string>
                <key>textureRect</key>
                <string>{{2641,2363},{546,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemy4_Idle (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-8,-44}</string>
                <key>spriteSize</key>
                <string>{264,170}</string>
                <key>spriteSourceSize</key>
                <string>{532,328}</string>
                <key>textureRect</key>
                <string>{{3915,716},{264,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemy4_Walk (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{41,-43}</string>
                <key>spriteSize</key>
                <string>{360,182}</string>
                <key>spriteSourceSize</key>
                <string>{532,328}</string>
                <key>textureRect</key>
                <string>{{10,3539},{360,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy4_Walk (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{37,-42}</string>
                <key>spriteSize</key>
                <string>{354,180}</string>
                <key>spriteSourceSize</key>
                <string>{532,328}</string>
                <key>textureRect</key>
                <string>{{1467,3825},{354,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy5_Attack (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-85,-24}</string>
                <key>spriteSize</key>
                <string>{309,443}</string>
                <key>spriteSourceSize</key>
                <string>{507,537}</string>
                <key>textureRect</key>
                <string>{{3113,3639},{309,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy5_Dead (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-65,-29}</string>
                <key>spriteSize</key>
                <string>{335,355}</string>
                <key>spriteSourceSize</key>
                <string>{507,537}</string>
                <key>textureRect</key>
                <string>{{730,3555},{335,355}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gold (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,564}</string>
                <key>spriteSourceSize</key>
                <string>{559,564}</string>
                <key>textureRect</key>
                <string>{{1997,3523},{559,564}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gold (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,564}</string>
                <key>spriteSourceSize</key>
                <string>{559,564}</string>
                <key>textureRect</key>
                <string>{{2915,2510},{559,564}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gold (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,564}</string>
                <key>spriteSourceSize</key>
                <string>{504,564}</string>
                <key>textureRect</key>
                <string>{{1476,2657},{504,564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gold (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,564}</string>
                <key>spriteSourceSize</key>
                <string>{503,564}</string>
                <key>textureRect</key>
                <string>{{1474,3241},{503,564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{710,3344},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Igloo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,201}</string>
                <key>spriteSourceSize</key>
                <string>{511,201}</string>
                <key>textureRect</key>
                <string>{{859,572},{511,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sign_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,94}</string>
                <key>spriteSourceSize</key>
                <string>{87,94}</string>
                <key>textureRect</key>
                <string>{{2915,2353},{87,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SlingShot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{680,175}</string>
                <key>spriteSourceSize</key>
                <string>{700,175}</string>
                <key>textureRect</key>
                <string>{{10,3344},{680,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Untitled-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-9,-20}</string>
                <key>spriteSize</key>
                <string>{49,29}</string>
                <key>spriteSourceSize</key>
                <string>{155,137}</string>
                <key>textureRect</key>
                <string>{{3213,793},{49,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Untitled-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{127,107}</string>
                <key>spriteSourceSize</key>
                <string>{197,141}</string>
                <key>textureRect</key>
                <string>{{2781,2929},{127,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Untitled-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{216,137}</string>
                <key>spriteSourceSize</key>
                <string>{236,163}</string>
                <key>textureRect</key>
                <string>{{10,3741},{216,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,107}</string>
                <key>spriteSourceSize</key>
                <string>{308,107}</string>
                <key>textureRect</key>
                <string>{{3915,1000},{308,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_idle (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{2637,2943},{126,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_idle (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{246,3741},{126,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_idle (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{246,3741},{126,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_idle (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{2637,2943},{126,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_physic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{2014,1146},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chicken-512.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,442}</string>
                <key>spriteSourceSize</key>
                <string>{512,442}</string>
                <key>textureRect</key>
                <string>{{2581,3639},{512,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{4,-18}</string>
                <key>spriteSize</key>
                <string>{939,939}</string>
                <key>spriteSourceSize</key>
                <string>{1157,1241}</string>
                <key>textureRect</key>
                <string>{{2070,842},{939,939}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-43}</string>
                <key>spriteSize</key>
                <string>{162,84}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3690,716},{162,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{17,6}</string>
                <key>spriteSize</key>
                <string>{132,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3915,1604},{132,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{144,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1841,3825},{144,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-43}</string>
                <key>spriteSize</key>
                <string>{162,84}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3690,716},{162,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-18,-9}</string>
                <key>spriteSize</key>
                <string>{132,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3917,2326},{132,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1003,396}</string>
                <key>spriteSourceSize</key>
                <string>{1003,396}</string>
                <key>textureRect</key>
                <string>{{2190,426},{1003,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kisspng-corn-on-the-cob-maize-food-icon-corn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{398,419}</string>
                <key>spriteSourceSize</key>
                <string>{404,419}</string>
                <key>textureRect</key>
                <string>{{3638,3611},{398,419}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>perfect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{432,176}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{3442,3634},{432,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plus_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{525,298}</string>
                <key>spriteSourceSize</key>
                <string>{563,564}</string>
                <key>textureRect</key>
                <string>{{3206,3089},{525,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,23}</string>
                <key>spriteSourceSize</key>
                <string>{93,23}</string>
                <key>textureRect</key>
                <string>{{763,1670},{93,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,66}</string>
                <key>spriteSourceSize</key>
                <string>{84,66}</string>
                <key>textureRect</key>
                <string>{{1381,3909},{84,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,59}</string>
                <key>spriteSourceSize</key>
                <string>{100,59}</string>
                <key>textureRect</key>
                <string>{{2070,740},{100,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,12}</string>
                <key>spriteSourceSize</key>
                <string>{50,12}</string>
                <key>textureRect</key>
                <string>{{1476,2439},{50,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TexturePacker-2.png</string>
            <key>size</key>
            <string>{4095,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2942f7ce71c746745c371ff638e0854:64ca98825292d4a684a0b2dca01baab7:fe44c7fd16253e6b99ba0c3f0bdcb790$</string>
            <key>textureFileName</key>
            <string>TexturePacker-2.png</string>
        </dict>
    </dict>
</plist>
