<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{977,68}</string>
                <key>spriteSourceSize</key>
                <string>{977,68}</string>
                <key>textureRect</key>
                <string>{{3718,2751},{977,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Backpack_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{3346,10},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Die (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.391615,0.558824}</string>
                <key>spriteOffset</key>
                <string>{25,13}</string>
                <key>spriteSize</key>
                <string>{739,438}</string>
                <key>spriteSourceSize</key>
                <string>{1121,612}</string>
                <key>textureRect</key>
                <string>{{3346,1310},{739,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chest_1 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,344}</string>
                <key>spriteSourceSize</key>
                <string>{342,344}</string>
                <key>textureRect</key>
                <string>{{854,3742},{342,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chest_1 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,364}</string>
                <key>spriteSourceSize</key>
                <string>{342,364}</string>
                <key>textureRect</key>
                <string>{{1850,3742},{342,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chest_2 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,344}</string>
                <key>spriteSourceSize</key>
                <string>{342,344}</string>
                <key>textureRect</key>
                <string>{{1216,3742},{342,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{3828,2468},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,256}</string>
                <key>spriteSourceSize</key>
                <string>{116,256}</string>
                <key>textureRect</key>
                <string>{{2818,3951},{116,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemy1_Dead (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-78,-213}</string>
                <key>spriteSize</key>
                <string>{1052,588}</string>
                <key>spriteSourceSize</key>
                <string>{1356,1200}</string>
                <key>textureRect</key>
                <string>{{3110,2751},{1052,588}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemy2_Walk (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-61,22}</string>
                <key>spriteSize</key>
                <string>{262,356}</string>
                <key>spriteSourceSize</key>
                <string>{384,440}</string>
                <key>textureRect</key>
                <string>{{3810,3719},{262,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy2_Walk (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-66,17}</string>
                <key>spriteSize</key>
                <string>{252,344}</string>
                <key>spriteSourceSize</key>
                <string>{384,440}</string>
                <key>textureRect</key>
                <string>{{1578,3742},{252,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy2_Walk (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-61,22}</string>
                <key>spriteSize</key>
                <string>{262,356}</string>
                <key>spriteSourceSize</key>
                <string>{384,440}</string>
                <key>textureRect</key>
                <string>{{3810,3719},{262,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy3_Dead (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{8,47}</string>
                <key>spriteSize</key>
                <string>{450,190}</string>
                <key>spriteSourceSize</key>
                <string>{576,374}</string>
                <key>textureRect</key>
                <string>{{930,1585},{450,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flags (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,122}</string>
                <key>spriteSourceSize</key>
                <string>{53,122}</string>
                <key>textureRect</key>
                <string>{{4023,1768},{53,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flags (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,122}</string>
                <key>spriteSourceSize</key>
                <string>{55,122}</string>
                <key>textureRect</key>
                <string>{{854,3515},{55,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gold (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,564}</string>
                <key>spriteSourceSize</key>
                <string>{262,564}</string>
                <key>textureRect</key>
                <string>{{3806,3135},{262,564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gold (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,564}</string>
                <key>spriteSourceSize</key>
                <string>{108,564}</string>
                <key>textureRect</key>
                <string>{{2234,3951},{108,564}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SlingShot0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{680,175}</string>
                <key>spriteSourceSize</key>
                <string>{700,175}</string>
                <key>textureRect</key>
                <string>{{3828,1768},{680,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SlingShot1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{680,175}</string>
                <key>spriteSourceSize</key>
                <string>{700,175}</string>
                <key>textureRect</key>
                <string>{{3110,3823},{680,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,280}</string>
                <key>spriteSourceSize</key>
                <string>{364,280}</string>
                <key>textureRect</key>
                <string>{{3806,2751},{364,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Untitled-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{94,62}</string>
                <key>spriteSourceSize</key>
                <string>{164,154}</string>
                <key>textureRect</key>
                <string>{{3596,1768},{94,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wind1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{1386,1555}</string>
                <key>spriteSourceSize</key>
                <string>{1410,1555}</string>
                <key>textureRect</key>
                <string>{{10,10},{1386,1555}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{948,881}</string>
                <key>spriteSourceSize</key>
                <string>{948,881}</string>
                <key>textureRect</key>
                <string>{{2860,1850},{948,881}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{948,881}</string>
                <key>spriteSourceSize</key>
                <string>{948,881}</string>
                <key>textureRect</key>
                <string>{{2860,1850},{948,881}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_settings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1296,952}</string>
                <key>spriteSourceSize</key>
                <string>{1298,952}</string>
                <key>textureRect</key>
                <string>{{930,2770},{1296,952}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hpBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{230,60}</string>
                <key>spriteSourceSize</key>
                <string>{248,66}</string>
                <key>textureRect</key>
                <string>{{3346,1768},{230,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icons8-circle-64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{3710,1768},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icons8-paper-plane-64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{3718,3748},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slingshot0-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,1910}</string>
                <key>spriteSourceSize</key>
                <string>{900,1910}</string>
                <key>textureRect</key>
                <string>{{10,1585},{900,1910}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slingshot1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,1910}</string>
                <key>spriteSourceSize</key>
                <string>{900,1910}</string>
                <key>textureRect</key>
                <string>{{1416,10},{900,1910}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slingshot2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,1910}</string>
                <key>spriteSourceSize</key>
                <string>{900,1910}</string>
                <key>textureRect</key>
                <string>{{1416,930},{900,1910}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slingshot3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,1910}</string>
                <key>spriteSourceSize</key>
                <string>{900,1910}</string>
                <key>textureRect</key>
                <string>{{930,1850},{900,1910}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,554}</string>
                <key>spriteSourceSize</key>
                <string>{824,554}</string>
                <key>textureRect</key>
                <string>{{10,3515},{824,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,554}</string>
                <key>spriteSourceSize</key>
                <string>{824,554}</string>
                <key>textureRect</key>
                <string>{{10,3515},{824,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_settings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1161,844}</string>
                <key>spriteSourceSize</key>
                <string>{1161,844}</string>
                <key>textureRect</key>
                <string>{{2246,2770},{1161,844}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,68}</string>
                <key>spriteSourceSize</key>
                <string>{98,68}</string>
                <key>textureRect</key>
                <string>{{3570,4018},{98,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,68}</string>
                <key>spriteSourceSize</key>
                <string>{98,68}</string>
                <key>textureRect</key>
                <string>{{3688,4018},{98,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,68}</string>
                <key>spriteSourceSize</key>
                <string>{99,68}</string>
                <key>textureRect</key>
                <string>{{3094,4018},{99,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,68}</string>
                <key>spriteSourceSize</key>
                <string>{99,68}</string>
                <key>textureRect</key>
                <string>{{3213,4018},{99,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,68}</string>
                <key>spriteSourceSize</key>
                <string>{99,68}</string>
                <key>textureRect</key>
                <string>{{3332,4018},{99,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,68}</string>
                <key>spriteSourceSize</key>
                <string>{99,68}</string>
                <key>textureRect</key>
                <string>{{3451,4018},{99,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind (42).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,59}</string>
                <key>spriteSourceSize</key>
                <string>{106,59}</string>
                <key>textureRect</key>
                <string>{{4023,1910},{106,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,59}</string>
                <key>spriteSourceSize</key>
                <string>{106,59}</string>
                <key>textureRect</key>
                <string>{{4023,2036},{106,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind (44).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,59}</string>
                <key>spriteSourceSize</key>
                <string>{106,59}</string>
                <key>textureRect</key>
                <string>{{4023,2162},{106,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,59}</string>
                <key>spriteSourceSize</key>
                <string>{105,59}</string>
                <key>textureRect</key>
                <string>{{4023,2288},{105,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TexturePacker-1.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2942f7ce71c746745c371ff638e0854:64ca98825292d4a684a0b2dca01baab7:fe44c7fd16253e6b99ba0c3f0bdcb790$</string>
            <key>textureFileName</key>
            <string>TexturePacker-1.png</string>
        </dict>
    </dict>
</plist>
